<!-- Welcome -->
<div class="container-fluid camping-welcome_mobile d-md-none mt-5 text-dark">
  <h1 class="text-center camping-welcome_main-heading">Camping Reservations</h1>
  <p class="text-center camping-welcome_sub-heading">
    You asked. We listened. <br />A new camping reservation experience is coming
    to BC Parks this year.
  </p>
</div>
<div class="container-fluid camping-welcome text-dark">
  <span class="d-none d-md-block">
    <h1 class="text-center camping-welcome_main-heading">
      Camping Reservations
    </h1>
    <p class="text-center camping-welcome_sub-heading">
      You asked. We listened. <br />A new camping reservation experience is
      coming to BC Parks this year.
    </p>
  </span>
  <div class="text-center camping-welcome_screenshots-container">
    <img
      class="camping-welcome_screenshots"
      src="/assets/images/Laptop-camping.png"
      alt="Camping Screenshots"
    />
  </div>
</div>

<!-- Page Text -->
<div class="container camping-description text-dark">
  <h2>
    Thank you for visiting the BC Parks’ in-development new Camping Reservation
    Service
  </h2>
  <p>
    After listening to users over the past two seasons, including conducting
    over 100 user experience research interviews informing this work, BC Parks
    is preparing to launch a new reservation service for the 2022 season. This
    new service, now tied directly to
    <a href="https://bcparks.ca">bcparks.ca</a>, will include a number of
    upgrades including: more flexible search options to find and book a
    campsite; a pre-booking queuing system; as well as handy maps, calendars and
    lists of available sites for quicker navigation.
  </p>
  <p>
    Our new reservation service will be available for bookings starting March
    21st, 2022 at 7:00 am PT. Come back here in advance, starting March 15th,
    2022, to preview the reservation service, create your new account (required
    to enable this new service), and explore online.
  </p>
  <p>
    In the meantime, feel free to visit us at <a
      href="https://bcparks.ca/reserve"
      >bcparks.ca/reserve</a
    > for more information on camping reservations for the upcoming season,
    or <a href="https://bcparks.ca/explore">bcparks.ca/explore</a> to begin
    planning your next visit.
  </p>
  <p>We look forward to welcoming you in park soon!</p>
</div>

<!-- Video -->
<div class="container video-container">
  <div class="video">
    <iframe
      src="https://www.youtube.com/embed/bHiZa5tQg3E"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>

<!-- Research -->
<div class="container">
  <div class="research">
    <div class="research_large-screen d-none d-md-block">
      <img
        src="/assets/images/bcparks_wordmark_white.svg"
        alt="BC Parks Logo"
      />
      <h1>Help us make BC Parks better</h1>
      <a
        class="btn btn-outline-primary text-dark px-5"
        role="button"
        href="https://forms2.gov.bc.ca/forms/content?id=845AC163218D4AC582FE7D3523623EA9"
        >Learn more</a
      >
    </div>
    <div class="research_narrow-screen d-md-none">
      <div class="d-flex align-items-end research_narrow-screen_flex-container">
        <div class="research_narrow-screen_content text-center">
          <a
            class="h1 research_mobile-link cent"
            href="https://forms2.gov.bc.ca/forms/content?id=845AC163218D4AC582FE7D3523623EA9"
            >Help us make BC Parks better</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Social Media -->
<div class="container social-media mb-5">
  <p class="text-center">Stay up to date</p>
  <div class="text-center">
    <a href="https://www.facebook.com/YourBCParks" target="_blank">
      <img
        src="/assets/images/facebook-negative.png"
        class="social-media_icon"
        alt="Facebook Icon"
    /></a>
    <a href="https://www.instagram.com/yourbcparks" target="_blank">
      <img
        src="/assets/images/instagram-negative.png"
        class="social-media_icon"
        alt="Instagram Icon"
    /></a>
  </div>
</div>
